// === Common
body {
  font-family: "Open Sans", sans-serif;
  color: #4C5C68;
  background-color: #f01b1b;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
}

// === header

// === intro

// === offer

// === about 

// === numbers

// === features

// === services

// === testimonials

// === consultation 

// === faq

// === contacts

// === questions

// === footer
